# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# Environment Variables (千萬不能上傳！)
.env
.env.*
*.env

# Firebase
.firebase/
firebase-debug.log
firebase-debug.log.*

# Flutter (敏感設定檔)
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/lib/firebase_options.dart

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

*.md
